.advantages-list{
	display: flex;
	width: calc(100% + 14px);
	margin-left: -7px;
	margin-right: -7px;
	height: 100%;

	.item{
		padding: 0 7px;
		width: 33.333%;
	}

	@media screen and (max-width: 575px){
		margin-left: -3px;
		margin-right: -3px;
		width: calc(100% + 6px);

		.item{
			padding: 0 3px;
		}
	}
}

.advantages-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 30px 15px;
	width: 100%;
	height: 100%;
	color: #fff;
	border-radius: $r;
	overflow: hidden;
	background: #00afe2;
	min-height: 300px;

	.card-bg{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-size: cover;
		background-position: center center;
		opacity: .15;
		transition: all $t;
	}

	&.orange{
		background: #f4ac38;
	}

	.card-content{
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: column;
		align-items: center;

		.card-icon{
			width: 57px;
			height: 57px;
			margin-bottom: 40px;
			fill: #fff;
			flex: none;
		}

		.card-text{
			font-size: 15px;
			line-height: 18px;
			color: #fff;
			text-align: center;
			flex: auto;
			min-height: calc(18px * 4);
		}
	}

	&:hover,
	&:focus{
		outline: none;

		.card-bg{
			opacity: .4;
		}
	}

	@media screen and (max-width: 991px){
		min-height: 420px;
	}

	@media screen and (max-width: 767px){
		min-height: 320px;
	}

	@media screen and (max-width: 575px){
		min-height: 180px;
		padding: 30px 5px;

		.card-content{
			.card-icon{
				margin-bottom: 12px;
			}

			.card-text{
				font-size: 11px;
				line-height: 1.3;
				font-weight: bold;
			}
		}
	}
}