.about-section{
	padding: 70px 0 45px;

	.section-row{
		display: flex;
		width: calc(100% + 50px);
		margin-left: -25px;
		margin-right: -25px;
		margin-bottom: 35px;

		&:last-child{
			margin-bottom: 0;
		}

		.row-block{
			padding: 0 25px;
			width: 44.348%;

			&.wide{
				width: calc(100% - 44.348%);
			}
		}

		@media screen and (max-width: 991px){
			&.md-column{
				flex-direction: column;
				margin-bottom: 5px;

				.row-block,
				.row-block.wide{
					width: 100%;
					margin-bottom: 30px;
				}

				&.reverse{
					flex-direction: column-reverse;
				}
			}
		}

		@media screen and (max-width: 767px){
			flex-direction: column;
			margin-bottom: 5px;

			.row-block,
			.row-block.wide{
				width: 100%;
				margin-bottom: 30px;
			}

			&.reverse{
				flex-direction: column-reverse;
			}
		}
	}

	@media screen and (max-width: 575px){
		padding-top: 20px;
	}
}