.delivery-section{
	position: relative;
	padding-bottom: 250px;

	@media screen and (max-width: 991px){
		padding-bottom: 190px;
	}

	@media screen and (max-width: 767px){
		padding-bottom: 150px;
	}

	@media screen and (max-width: 575px){
		padding-bottom: 90px;
	}

	.section-image{
		margin-top: -85px;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}

		@media screen and (max-width: 767px){
			margin-top: -35px;
		}
	}

	.section-bottom-bg{
		position: absolute;
		width: 1920px;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);

		@media screen and (max-width: 1199px){
			left: 60%;
		}

		@media screen and (max-width: 991px){
			transform: scale(.8) translateX(-50%);
			transform-origin: center bottom;
			left: 37%;
		}

		@media screen and (max-width: 799px){
			width: 100vw;
			left: 50%;
			transform: translateX(-50%);

			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center bottom;
			}
		}
	}

	@media screen and (max-width: 575px){
		.section-caption{
			br{
				display: none;
			}
		}
	}
}