.first-screen-section{
	position: relative;

	// &:before{
	// 	content: '';
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	// background: linear-gradient(to right, #00aee2 0%, #47c7f6 30%, #47c7f6 70%, #00aee2 100%);
	// 	// background: url(img);
	// 	// background-position: center top;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;

	// 	@media screen and (max-width: 1920px){
	// 		background-size: 1920px 100%;
	// 	}
	// }

	&:after{
		content: '';
		display: block;
		width: 1920px;
		height: 100%;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		background: url(../img/first-screen/bottom-bg.png) no-repeat center top;
		// background-size: cover;
		// background-color: #f1f6f8;
	}

	.container{
		position: relative;
		z-index: 2;
	}

	.section-branding{
		display: flex;
		padding: calc(192px + 85px) 0 40px;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;

		.branging-content{
			padding: 0 15px;
			width: 50%;
		}

		.branding-text{
			color: #fff;
			margin-bottom: 25px;

			p{
				font-size: 18px;
				line-height: 22px;
				max-width: 410px;
			}
		}

		.branding-image{
			position: absolute;
			right: -190px;
			top: 0;

			@media screen and (max-width: 1199px){
				right: -220px;
			}
		}

		.branding-footer{
			display: flex;
			align-items: center;

			.btn{
				min-width: 210px;
			}

			.item{
				margin-right: 25px;

				&:last-child{
					margin-right: 0;
				}
			}
		}

		@media screen and (max-width: 991px){
			padding-top: 185px;

			.branding-image{
				right: -350px;
				top: -70px;

				picture{
					transform: scale(0.95);
					transform-origin: right top;
				}
			}
		}

		@media screen and (max-width: 767px){
			.branding-image{
				display: none;
			}

			.branging-content{
				width: 100%;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.branding-footer{
				flex-direction: column;

				.item{
					margin-right: 0;
					margin-bottom: 25px;

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}

		@media screen and (max-width: 575px){
			padding-top: 135px;

			.branding-text{
				p{
					max-width: 320px;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}

	.section-features{
		padding: 25px 0 20px;
		border-top: 1px solid rgba(#fff, .16);
		position: relative;
	}

	.section-products{
		position: relative;
	}

	@media screen and (min-width: 992px) and (max-width: 1062px),
		   screen and (min-width: 768px) and (max-width: 838px),
		   screen and (max-width: 646px){
		.section-products{
			padding-left: 35px;
			padding-right: 35px;
		}

		.glider-arrow{
			&.glider-prev{
				left: -35px !important;
			}

			&.glider-next{
				right: -35px !important;
			}
		}
	}

	.flying-objects{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		.parallax-layer{
			top: auto !important;
		}

		.cheese-1{
			position: absolute !important;
			top: 60px !important;
			left: -23vw !important;
		}

		.cheese-2{
			position: absolute !important;
			bottom: 250px !important;
			left: calc(100% + 13vw) !important;
		}

		.cheese-3{
			position: absolute !important;
			left: -60px !important;
			bottom: 160px !important;
		}

		.parsley-1{
			position: absolute !important;
			top: 320px !important;
			left: -13vw !important;
		}

		.parsley-2{
			position: absolute !important;
			top: 330px !important;
			left: calc(100% + 15vw) !important;
		}

		.jug-1{
			position: absolute !important;
			bottom: 90px !important;
			left: -360px !important;
		}
	}
}