.questions-section{
	margin: -125px 0 0;
	position: relative;
	z-index: 2;
	height: 640px;

	#parallax-viewport-questions{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1920px;
		margin-left: calc(-1920px / 2);
	}

	.parallax-layer{
		// position: absolute;
		// left: 50%;
		// top: 50%;
		// width: 100%;
		// height: 100%;
		// transform: translate(-50%, -50%);
		width: 100%;
	}

	.section-bg{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		z-index: 2;

		.bg-layer{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			&.back{
				width: 2082px;
				z-index: 1;
				opacity: .22;
			}

			&.front{
				width: 2018px;
				z-index: 2;
			}

			img{
				width: 100%;
				height: 100%;
			}
		}
	}

	.container{
		position: relative;
		z-index: 5;
	}

	.section-inner{
		display: flex;
		align-items: center;
		padding: 125px 0 115px;

		.section-form{
			width: calc(100% / 12 * 9);

			.questions-form{
				max-width: 695px;
				width: 100%;
			}
		}

		.section-founder{
			padding-right: 45px;
			margin-left: -95px;
			align-self: flex-end;
			// margin-top: -125px;
			position: absolute;
			right: 45px;
			bottom: 10px;
			width: 380px;

			.block-info{
				position: absolute;
				left: -100px;
				bottom: 60px;
				width: 190px;
				height: 190px;
				border-radius: 50%;
				background: #00afe2;
				color: #fff;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				padding: 20px;

				p{
					margin-bottom: 10px;

					&:last-child{
						margin-bottom: 0;
					}

					strong{
						font-weight: 900;
					}
				}
			}
		}
	}

	.questions-form{
		p{
			margin-bottom: 20px;
			color: #fff;
		}
	}

	@media screen and (max-width: 991px){
		margin-top: -85px;

		.section-inner{
			padding-top: 85px;

			.section-founder{
				right: -110px;
			}
		}
	}

	@media screen and (max-width: 767px){
		.section-inner{
			.section-founder{
				display: none;
			}

			.section-form{
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 575px){
		margin-top: -75px;
	}

	.flying-objects{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		@media screen and (max-width: 575px){
			display: none;
		}

		.parallax-layer{
			top: auto !important;
		}

		.cheese-1{
			position: absolute !important;
			bottom: -20px !important;
			left: 40% !important;
		}

		.cheese-2{
			position: absolute !important;
			top: -25px !important;
			left: -13vw !important;
		}

		.parsley-1{
			position: absolute !important;
			bottom: -40px !important;
			left: calc(100% + 5vw) !important;
		}

		.parsley-2{
			position: absolute !important;
			top: 310px !important;
			left: -20vw !important;
		}
	}
}