.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: transparent;

	.header-inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
		z-index: 2;
	}

	.header-row{
		&.first{
			padding: 20px 0;
			min-height: 136px;
			display: flex;
			align-items: center;
			width: 100%;

			.header-logo{
				flex: none;
			}

			.header-contacts{
				flex: auto;
				transition: all $t;
			}

			.menu-opener-wrapper{
				display: none;
				flex: none;
			}

			@media screen and (max-width: 991px){
				min-height: unset;

				.header-contacts{
					height: 96px;

					.language-select{ display: none; }
				}

				.menu-opener-wrapper{
					display: block;
					width: 96px;
					height: 66px;
				}
			}

			@media screen and (max-width: 575px){
				padding: 15px 0;

				.header-inner{
					align-items: center;
				}

				.header-contacts{
					height: auto;

					.header-contacts-list{
						display: none;
					}

					.language-select{
						display: flex;
						margin-bottom: 0;
					}
				}
			}
		}

		&.second{
			height: 56px;
			background: #51bfe8;
			transition: all $t;

			@media screen and (max-width: 991px){
				display: none;
			}
		}
	}

	.header-block{
		padding: 0 15px;
	}

	&.sticky{
		@media screen and (min-width: 992px){
			transform: translateY(-136px);
			position: fixed;

			.header-row.second{
				height: 44px;
				box-shadow: 0 1px 0 rgba(#f1f6f8, .5);
			}
		}

		@media screen and (max-width: 991px){
			
		}
	}

	&.with-bg{
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, #00aee2 0%, #47c7f6 30%, #47c7f6 70%, #00aee2 100%);
			position: absolute;
			left: 0;
			top: 0;
			background-position: center top;

			@media screen and (max-width: 1920px){
				background-size: 1920px 100%;
			}
		}
	}
}

.logo-block{
	display: block;

	img{
		display: block;
		width: auto;
		height: 91px;
		transition: all $t;

		@media screen and (max-width: 767px){
			height: 81px;
		}

		@media screen and (max-width: 359px){
			height: 66px;
		}
	}

	@include addFocusBorder();
}